body {
    background-color: #fff8f2;
    color: #2d201d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.cafe-header {
    background: linear-gradient(135deg, #c8eaf7, #eebcf9);
    font-family: cursive, sans-serif;
    font-weight: bolder;
    color: #402826;
    border-bottom: 4px solid #8bacd4;
}

.cafe-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1rem;
    margin: 0;
}

.intro-section,
.menu-section,
.cats-section {
    animation: fadeInUp 1s ease;
}

.main-image {
    max-height: 380px;
    object-fit: cover;
}

.menu-section {
    background-color: #f0f4ff;
    border: 2px solid #bfb6f4;
}

.preview-image {
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview-image:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.cat-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-card img {
    height: 250px;
    object-fit: cover;
}

.cat-card img {
    transition: transform 0.3s ease;
}

.cat-card img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.cat-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.18);
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.list-group-item:hover {
    background-color: #e3e8ff;
    transform: scale(1.02);
}

footer {
    background-color: #c8e7f7;
    color: #4a2c2a;
    margin-top: 40px;
}

section {
    background-color: #fff0f3;
    border-radius: 15px;
}

section a {
    color: #d48b9a;
    font-weight: bold;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Animacion 1 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación 2 */
button,
.form-select {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover,
.form-select:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}